openapi: 3.0.0
info:
  version: '1.0'
  title: HP OSS
  description: ' HP OSS Marketplace Web Service is an integrated web service API that helps HP customers to programatically exchange data on orders, line items, order status and manufacturing data.'
servers:
  - url: 'https://apigatewaydev.adient.com/hp-oss/v1'
    description: Development
paths:
  /changedorders:
    get:
      summary: Get only changed orders since a given time
      description: Get changed orders for a given timeframe, for fast incremental processing. By default returns just a list of changed order ID's. If parameter fullDetails is provided, the API will return changed orders with all order details.
      operationId: getChanges
      parameters:
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/limitParam'
        - name: from
          description: last update timestamp from which the changed orders should be queried
          in: query
          required: true
          schema:
            type: string
            format: date
          example: '2021-01-01T08:44:15Z'
        - name: to
          description: last update timestamp until the changed orders should be queried
          in: query
          required: false
          schema:
            type: string
            format: date
          example: '2021-01-01T09:44:15Z'
        - name: omRegion
          description: OM Region which should be used to query on changed orders
          in: query
          required: false
          schema:
            type: string
            enum:
              - US
              - CA
              - LA
              - EMEA
              - APJ
          example: US
        - name: orderType
          description: Order Type which should be used to query on changed orders
          in: query
          required: false
          schema:
            type: string
            enum:
              - Trade Order
              - Returns
          example: Returns
        - name: fullDetails
          description: Optional, boolean parameter. If true, the API will return changed orders with all details similar to the /order endpoint.
          in: query
          required: false
          schema:
            type: boolean
          example: true
      responses:
        '200':
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/ChangedOrders'
        '400':
          description: Bad request.
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: no orders found.
        5XX:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /orders:
    get:
      summary: A collection of purchase orders
      description: Get purchase order info
      operationId: getOrders
      parameters:
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/limitParam'
        - name: purchaseOrderNo
          description: purchase order number that needs to be filtered on
          in: query
          required: false
          schema:
            type: string
          example: PO123456789
        - name: hpOrderNo
          description: HP order number that needs to be filtered on
          in: query
          required: false
          schema:
            type: string
          example: '1000035789'
        - name: salesOrderNo
          description: sales order number that needs to be filtered on
          in: query
          required: false
          schema:
            type: string
          example: 0100035789
        - name: status
          description: statuses to be filtered on
          in: query
          required: false
          schema:
            type: string
            example: Shipped
            enum:
              - Submitted
              - Acked
              - Production
              - Shipped
              - Delivered
              - CANCELED
        - name: purchaseOrderDateStart
          description: search from purchase order date
          in: query
          required: false
          schema:
            type: string
            format: date
          example: '2018-01-01'
        - name: purchaseOrderDateEnd
          description: search to purchase order date
          in: query
          required: false
          schema:
            type: string
            format: date
          example: '2018-01-02'
        - name: serialNo
          description: Serial number that needs to be filtered on
          in: query
          required: false
          schema:
            type: string
          example: SN11223344
      responses:
        '200':
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/PurchaseOrders'
        '400':
          description: Bad request.
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: orders not found.
        5XX:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/orders/{id}':
    get:
      summary: Order details
      description: Get purchase order info - get by unique orderId
      operationId: getOrder
      parameters:
        - name: id
          description: Unique order ID that needs to be fetched
          in: path
          required: true
          schema:
            type: string
          example: 181024I14LF281
      responses:
        '200':
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/PurchaseOrder'
        '400':
          description: Bad request.
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: no orders found.
        5XX:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/serialNumbers/{serialNo}':
    get:
      summary: Get serial number info
      description: Get detailed information about a serial number.
      operationId: getSerial
      parameters:
        - name: serialNo
          description: Serial number that needs to be fetched
          in: path
          required: true
          schema:
            type: string
          example: SN123456
      responses:
        '200':
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/SerialNumberInfo'
        '400':
          description: Bad request.
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: Serial number not found.
        5XX:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      name: Authorization
      in: header
  parameters:
    offsetParam:
      in: query
      name: offset
      required: false
      schema:
        type: integer
        minimum: 0
      description: >-
        The number of result elements to skip before starting to collect the
        result set.
    limitParam:
      in: query
      name: limit
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 100
      description: The numbers of result elements to return.
  schemas:
    ChangedOrders:
      type: object
      description: Array of changed orders.
      required:
        - status
        - nrOfChanges
        - orders
      properties:
        status:
          type: string
          description: Highlights if limit of 1000 changes has been reached or not (OK or MORE_DATA).
        nrOfChanges:
          type: number
          description: Number of total changes identified.
        orders:
          type: array
          items:
            $ref: '#/components/schemas/ChangedOrder'
    ChangedOrder:
      type: object
      description: Changed Order
      required:
        - id
        - lastUpdate
      properties:
        id:
          type: string
          description: The unique HP order id
        lastUpdate:
          type: string
          format: date
          description: Last change timestamp of the unique HP order id
        omRegion:
          type: string
          description: Order Management Region of the unique HP order id
        orderType:
          type: string
          description: Order Type of the unique HP order id
    PurchaseOrders:
      type: object
      description: Array of purchase orders.
      properties:
        orders:
          type: array
          items:
            $ref: '#/components/schemas/PurchaseOrder'
    PurchaseOrder:
      type: object
      description: Purchase order details.
      required:
        - id
        - hpOrderNo
        - salesOrderNo
        - orderType
        - orderStatus
        - custPurchaseOrderNo
        - purchasOrderDate
        - currencyCode
        - soldToCountryCode
        - invoiceToCountryCode
        - shipToCountryCode
        - lineItems
      properties:
        id:
          type: string
          description: The unique HP order id
        href:
          type: string
          description: A link to the Web API endpoint providing full details of the order.
        hpOrderNo:
          type: string
        salesOrderNo:
          type: string
        purchaseOrderNo:
          type: string
        orderType:
          type: string
          description: 'Order type. Can be any of ''Trade Order'', ''Returns'', ''*Credit*'' or ''*Debit*'' '
        purchaseOrderDate:
          type: string
          format: date
          description: 'Date format: YYYY-MM-DD'
        customerReqDate:
          description: The customer requested delivery date on order/header level
          type: string
          format: date
        orderStatus:
          type: string
          enum:
            - Submitted
            - Acked
            - Production
            - Shipped
            - Delivered
            - CANCELED
        currencyCode:
          type: string
          description: ISO currency code
        soldToCountryCode:
          type: string
          description: ISO2 sold-to country code
        invoiceToCountryCode:
          type: string
          description: ISO2 invoice-to country code
        shipToCountryCode:
          type: string
          description: ISO2 main ship-to country code
        items:
          type: array
          items:
            $ref: '#/components/schemas/Items'
          minItems: 1
    Items:
      type: object
      description: Line items on each order
      required:
        - itemNo
        - productNo
        - productDescription
        - itemStatus
        - orderedQuantity
        - unitPrice
      properties:
        itemNo:
          type: string
        productNo:
          description: The HP product number
          type: string
        productDescription:
          description: The HP product name/description
          type: string
        customerProductNo:
          description: The partner specific product number
          type: string
        customerItemNo:
          description: The partner specific line item number
          type: string
        productLocalization:
          description: Localization of the product
          type: string
        customerReqDate:
          description: The customer requested delivery date on item level
          type: string
          format: date
        itemStatus:
          type: string
          enum:
            - Submitted
            - Acked
            - Production
            - Shipped
            - Delivered
            - CANCELED
        orderedQuantity:
          description: Quantity ordered
          type: integer
        unitPrice:
          description: The unit price
          type: number
          format: float
        dealID:
          description: Item level deal/price id
          type: string
        isIntangible:
          description: Flags the item as intangible product
          type: boolean 
        regulatoryModelNo:
          description: The Regulatory Model Number
          type: string
        licenseEAC:
          description: EAC License
          type: string
        licenseROHS:
          description: ROHS License
          type: string
        licenseCRYPN:
          description: CRYPTO Notification License
          type: string
        licenseCRYPT:
          description: CRYPTO License
          type: string
        licenseWIRELESS:
          description: Wireless License
          type: string
        licenseNONELC1:
          description: NON ELC License 1 - Certificates or Declarations for Non-electronic goods 1
          type: string
        licenseNONELC2:
          description: NON ELC License 2 - Certificates or Declarations for Non-electronic goods 2
          type: string
        licenseNONELC3:
          description: NON ELC License 3 - Certificates or Declarations for Non-electronic goods 3
          type: string
        itemPartials:
          type: array
          items:
            $ref: '#/components/schemas/ItemPartials'
          minItems: 1
    ItemPartials:
      type: object
      description: "Line items on each order."
      required:
        - itemPartialNo
        - itemPartialStatus
        - itemPartialQuantity
        - shippedDate
        - deliveredDate
        - shipmentNumber
        - carrierName
        - carrierTrackingNumber
        - carrierTrackingURL
      properties:
        itemPartialNo:
          type: string
        itemPartialStatus:
          type: string
          enum:
            - Submitted
            - Acked
            - Production
            - Shipped
            - Delivered
            - CANCELED
        itemPartialQuantity:
          type: integer
        plannedShipmentDate:
          type: string
          format: date
          description: 'The planned or scheduled ship date (departure from HPI). Date format: YYYY-MM-DD'
        plannedDeliveryDate:
          type: string
          format: date
          description: 'The planned or scheduled delivery date (arrival at customer or partner). Date format: YYYY-MM-DD'
        shippedDate:
          type: string
          format: date
          description: 'The actual ship date (departure from HPI). Date format: YYYY-MM-DD'
        deliveredDate:
          type: string
          format: date
          description: 'The actual delivery date / POD (arrival at customer or partner). Date format: YYYY-MM-DD'
        netLinePrice:
          type: number
          format: float
          description: 'The Net Line Price'
        shipmentNumber:
          type: string
          description: The shipment number of the line item in this context
        shipmentWeight:
          type: number
          format: float
          description: 'Weight of the shipment'
        shipmentWeightUOM:
          type: string
          description: 'Unit of measure of the shipment weight'
        carrierName:
          type: string
        carrierTrackingNumber:
          type: string
        carrierTrackingURL:
          type: string
        actualModeOfTransport:
          type: string
          description: The final mode of transport
        invoiceNo:
          type: string
          description: The invoice number of the line item in this context
        invoiceDate:
          type: string
          format: date
          description: The invoice date of the line item in this context
        invoiceLineNet:
          type: number
          format: float
          description: The invoice line net price of the line item in this context in local currency
        invoiceLineNetDollar:
          type: number
          format: float
          description: The invoice line net price of the line item in this context in dollar currency
        invoiceTotalNet:
          type: number
          format: float
          description: The invoice total net price in local currency
        invoiceTotalNetDollar:
          type: number
          format: float
          description: The invoice total net price in dollar currency
        invoiceCurrencyCode:
          type: string
          description: The invoice currency code
        serialNumbers:
          type: array
          items:
            $ref: '#/components/schemas/SerialNumber'
          minItems: 0
    SerialNumber:
      type: object
      description: Serial number details as part of the Order response.
      required:
        - serialNumber
      properties:
        serialNumber:
          type: string
        boxNo:
          type: string
        countryOfOriginISO2:
          type: string
        countryOfOriginName:
          type: string
        assetTag:
          type: string
        uuid:
          type: string
        primaryMACAddress:
          type: string
        wlanMACAddress:
          type: string
        tpmHashKey:
          type: string
        warrantyEndDate:
          type: string
          format: date
          description: 'Date format: YYYY-MM-DD'
        msftPKID:
          type: string
        wanIMEI:
          type: string
        wanIMEI2:
          type: string
        imageVersion:
          type: string
    SerialNumberInfo:
      type: object
      description: Serial number details
      required:
        - serialNumber
      properties:
        serialNumber:
          type: string
        assetTag:
          type: string
        uuid:
          type: string
        primaryMACAddress:
          type: string
        wlanMACAddress:
          type: string
        tpmHashKey:
          type: string
        warrantyEndDate:
          type: string
          format: date
          description: 'Date format: YYYY-MM-DD'
        msftPKID:
          type: string
        wanIMEI:
          type: string
        wanIMEI2:
          type: string
        imageVersion:
          type: string
        countryOfOriginISO2:
          type: string
        countryOfOriginName:
          type: string
        hpOrderNo:
          type: string
          description: 'HP Order Number containing this serial number'          
        salesOrderNo:
          type: string
          description: 'Sales Order Number containing this serial number'          
        purchaseOrderNo:
          type: string
          description: 'Purchase Order Number containing this serial number'
        orderType:
          type: string
          description: 'Order-Type of the order containing this serial number. Can be any of ''Trade Order'', ''Returns'', ''*Credit*'' or ''*Debit*'' '
        orderId:
          type: string
          description: 'Unique OrderId containing this serial number'          
        itemNo:
          type: string
          description: 'Item Number related to this serial number'          
        productNo:
          type: string
          description: 'Product Number related to this serial number'          
        boxNo:
          type: string
          description: 'Box number which contains this serial number'          
        links:
          type: array
          items:
            $ref: '#/components/schemas/Links'
    PlatformCertRequestSerial:
      type: object
      description: JSON request body for querying platform certificates
      properties:
        serials:
          type: array
          items:
            $ref: '#/components/schemas/PlatformCertRequestSerials'
    PlatformCertRequestPO:
      type: object
      description: JSON request body for querying platform certificates
      properties:
        po:
          type: string
          description: The Purchase Order Number you want to query for and get the platform certificates
    PlatformCertRequestDaterange:
      type: object
      description: JSON request body for querying platform certificates
      properties:
        from:
          type: string
          description: Date you want to query from and get the platform certificates
        to:
          type: string
          description: Date you want to query to and get the platform certificates
    PlatformCertRequestSerials:
      type: object
      description: Array of requested serial number and product number combinations.
      properties:
        serialNumber:
          type: string
          description: HP's Device Serial Number
        productNumber:
          type: string
          description: HP's Device Product Number
    PlatformCertInfo:
      type: object
      description: Array of available Platform certificate(s).
      required:
        - serialNumber
        - productNumber
        - status
        - certificatePackage
      properties:
        serialNumber:
          type: string
          description: HP's Device Serial Number
        productNumber:
          type: string
          description: HP's Device Product Number
        status:
          type: string
        certificatePackage:
          type: string
          description: A base64-encoded byte array of a zipped certificate package
    Links:
      type: object
      description: 'HATEOAS links to referring resources'
      properties:
        href:
          type: string
          description: 'Relative target URI to target resource'
        rel:
          type: string
          description: 'Relation type of current context to the target resource'
    Error:
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
security:
  - ApiKeyAuth: []